{% extends 'main/base.html' %}

{% block title %}
    My Invites
{% endblock title %}

{% block content %}

    {% if is_empty %}
        <h3> No Pending Invitations </h3>
    {% endif %}

    {% for obj in qs %}
        <div class='ui segment'>
            <div class='ui grid'>
                <div class='row'>
                    <div class='three wide column'>
                        <img class='ui small circular image' src={{obj.avatar.url}}>
                    </div>
                    <div class='thirteen wide column'>
                        <h3>{{obj.user}}</h3>
                        <p>{{obj.bio | slice:200}}...</p>
                        <br>
                        <a href="">
                            <button class='ui primary button w-big mb-5'> Go Profile </button>
                        </a>

                        <form action="{% url 'profiles:accept-invite' %}" method="POST">{% csrf_token %}
                            <input type='hidden' name='profile_pk' value={{obj.pk}}>
                            <button type='submit' class='ui positive basic button mb-5 w-big'>
                                <i class='check icon'></i>
                                Accept
                            </button>
                        </form>

                        <form action="{% url 'profiles:reject-invite' %}" method="POST">{% csrf_token %}
                            <input type='hidden' name='profile_pk' value={{obj.pk}}>
                            <button type='submit' class='ui negative basic button mb-5 w-big'>
                                <i class='close icon'></i>
                                Reject
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}