{% extends 'main/base.html' %}

{% block title %}
MY Profile
{% endblock title %}


{% block content %}
<!--MODAL-->
<div class="ui modal mymodal">
    <i class="close icon"></i>
    <div class="header">
      Update Your Profile
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img src="{{profile.avatar.url}}">
      </div>
      <div class="description">
        <div class="ui header">Provide some info about You</div>

        <form action="" method="POST" class="ui form" enctype="multipart/form-data">{% csrf_token %}
            {{form.as_p}} 
        
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="ui positive right labeled icon button">
        Update
        <i class="checkmark icon"></i>
      </button>
    </form>
    </div>
  </div>



<div class="ui segment"> 
    {% if confirm %}
    <div class="ui green message">Your Profile has been updated</div>
    {% endif %}
    <h3>My Profile: {{request.user}}</h3>
    <div class="row">  
        <div class="ui grid">
            <div class="six wide column">
                <img class="ui medium rounded image" src="{{profile.avatar.url}}" alt="">

                <div class="row mt-5"> 
                    <button class = 'ui secondary button' id="modal-btn">Update your profile</button>
                </div>
            </div>
            <div class="ten wide column">
                <table class="ui table">
                    <tbody>
                        <tr>
                            <td>USERNAME</td>
                            <td>{{profile.user}}</td>
                        </tr>
                        <tr>
                            <td>NAME</td>
                            <td>{{profile.first_name}} {{profile.last_name}}</td>
                        </tr>
                        <tr>
                            <td>BIO</td>
                            <td>{{profile.bio}}</td>
                        </tr>  
                        <tr>
                            <td>FRIENDS</td>
                            <td>{{profile.get_friends_number}}</td>
                        </tr>
                        <tr>
                          <td>Nº of Posts </td>
                          <td>{{profile.get_post_number}}</td>
                        </tr>
                        <tr>
                          <td>Nº of Likes Given </td>
                          <td>{{profile.get_likes_given_number}}</td>
                        </tr>
                        <tr>
                          <td>Nº of Likes Recieved </td>
                          <td>{{profile.get_likes_recieved_number}}</td>
                        </tr>                         
                    </tbody>
                </table>
            </div>  
        </div>
    </div>

</div>


{% endblock content %}


{% block scripts %}
{% endblock scripts %}